# Ignore Python cache files
**/__pycache__/
# Ignore data files
data/
app/features/sheet_parsers/tester.py

# Ignore Docker-related files
*.log
*.pid
*.sock

# Ignore environment files
.env

# Ignore temporary files
*.tmp
*.swp
*.bak
*.orig
*.rej

# Ignore IDE-specific files
.vscode/
.idea/