version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sport_api
    ports:
      - "2700:2700"
    environment:
      APP_ENV: "production"
      MONGO_URI: "mongodb://mongo:27017"
      DATABASE_NAME: "sport_data"
      API_HOST: "0.0.0.0"
      API_PORT: 2700
      DEBUG: "False"
    depends_on:
      - mongo
    restart: unless-stopped



  mongo:
    image: mongo:5.0
    container_name: mongodb
    ports:
      - "2701:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongodb_data:
