fastapi==0.115.6
motor==3.6.0
pandas==2.2.3
pydantic==2.10.3
pydantic-settings==2.6.1
pymongo==4.9.2
pytest==8.3.4
requests==2.32.4
uvicorn==0.32.1
MyApplication~=0.1.0
tqdm~=4.67.1
prometheus_client~=0.21.1
pymorphy3~=2.0.3
httpx~=0.28.1
python-multipart==0.0.20
xlrd==2.0.1
